##### Trabalho  Fundamento de Banco de Dados
## Dados do INEP: Impacto da Pandemia de COVID-19 no Ensino Superior Brasileiro

### Arthur Temporim
### Eduardo Castro

## Contextualização
### [Enem 2021: número de pretos, pardos e indígenas inscritos cai mais de 50%](https://g1.globo.com/educacao/enem/2021/noticia/2021/08/27/enem-2021-cai-negros-pardos-indigenas-inscritos.ghtml)

<img src="imagens/noticia.png">

## Problema
### Qual o Impacto da pandemia no ingresso de novos alunos de curso superior?
### É possível verificar este possível impacto com os dados fornecidos atualmente?
### Quais são os dados que devem ser extraídos para verificar um possível impacto?

## Processo ETL (Extract, Transform, Load)
### Extract
1. Os dados foram baixados na portal de dados abertos nos seguintes links:
  1. [Censo da Educação Superior](https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/censo-da-educacao-superior)
  1. [Microdados](https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados)
1. Os arquivos em formato zip foram baixados, armazenados e descompactados
1. Um estudo sobre os atributos e os dados foi feito e as informações relevantes para o projeto foram levantadas
1. O Dicionário de dados foi muito relevante para este processo:

<img src="imagens/dicionario.png">

## Transform
1. Experimentações com os dados foram feitas utilizando jupyter-notebooks
1. A criação de arquivos no formato `csv` foi feita como arquivos intermediários para a inserção dos dados no banco
1. Com uma melhor compreensão dos dados, iniciamos a modelagem
1. A cada investigação a modelagem foi refinada até chegar no estado final
1. Todos as colunas das tabelas foram configuradas de acordo com o dicionário de dados

## Modelo de Dados Relacional
<img src="imagens/modelo.png">

## Load
1. O Processo de carregar os dados foi feito utilizando a liguagem python e os arquivos `csv` criados anteriormente
1. Um subset contendo apenas dados do Distrito Federal foi feito por questões de limitação de recursos computacionais
1. A configuração do Banco de Dados foi feita utilizando a ferramenta case `MySQL WorkBench`
1. O banco de dados foi modelado e criado com o auxílio da ferramenta

## Script SQL

```sql
-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema mydb
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema mydb
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `mydb` ;
USE `mydb` ;

-- -----------------------------------------------------
-- Table `mydb`.`aluno`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mydb`.`aluno` (
  `idaluno` INT NOT NULL AUTO_INCREMENT,
  `ID_ALUNO` VARCHAR(32) NOT NULL,
  `CO_ALUNO_CURSO` INT(8) NOT NULL,
  `TP_COR_RACA` INT(1) NOT NULL,
  `TP_SEXO` INT(1) NOT NULL,
  `NU_ANO_NASCIMENTO` INT(4) NOT NULL,
  `NU_MES_NASCIMENTO` INT(2) NOT NULL,
  `NU_DIA_NASCIMENTO` INT(2) NOT NULL,
  `IN_DEFICIENCIA` INT(1) NOT NULL,
  `IN_CONCLUINTE` INT(1) NOT NULL,
  `TP_ESCOLA_CONCLUSAO_ENS_MEDIO` INT(1) NOT NULL,
  `NU_ANO_INGRESSO` INT(1) NOT NULL,
  `TP_NACIONALIDADE` INT(1) NULL,
  `CO_UF_NASCIMENTO` INT(2) NULL,
  `NU_IDADE` INT(3) NULL,
  `TP_SITUACAO` INT(1) NULL,
  `IN_INGRESSO_VESTIBULAR` INT(1) NULL,
  `IN_INGRESSO_ENEM` INT(1) NULL,
  `IN_INGRESSO_AVALIACAO_SERIADA` INT(1) NULL,
  `IN_APOIO_SOCIAL` INT(1) NULL,
  `TP_SEMESTRE_CONCLUSAO` INT(1) NULL,
  `TP_SEMESTRE_REFERENCIA` INT(1) NULL,
  `IN_MATRICULA` INT(1) NULL,
  PRIMARY KEY (`idaluno`))
ENGINE = InnoDB
COMMENT = '\n';


-- -----------------------------------------------------
-- Table `mydb`.`instituicao_ensino_superior`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mydb`.`instituicao_ensino_superior` (
  `CO_IES` INT(8) NOT NULL,
  `TP_CATEGORIA_ADMINISTRATIVA` INT(1) NULL,
  `TP_ORGANIZACAO_ACADEMICA` INT(1) NULL,
  `CO_UF` INT(2) NULL,
  `CO_DOCENTE_IES` INT(13) NULL,
  `NO_IES` VARCHAR(200) NULL,
  `SG_IES` VARCHAR(20) NULL,
  PRIMARY KEY (`CO_IES`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `mydb`.`curso`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mydb`.`curso` (
  `CO_CURSO` INT(8) NOT NULL,
  `NO_CURSO` VARCHAR(200) NOT NULL,
  `CO_LOCAL_OFERTA` INT(8) NULL,
  `CO_UF` INT(2) NULL,
  `IN_CAPITAL` INT(1) NULL,
  `TP_SITUACAO` INT(1) NULL,
  `TP_GRAU_ACADEMICO` INT(1) NULL,
  `instituicao_ensino_superior_CO_IES` INT(8) NOT NULL,
  PRIMARY KEY (`CO_CURSO`, `instituicao_ensino_superior_CO_IES`),
  INDEX `fk_curso_instituicao_ensino_superior1_idx` (`instituicao_ensino_superior_CO_IES` ASC) VISIBLE,
  CONSTRAINT `fk_curso_instituicao_ensino_superior1`
    FOREIGN KEY (`instituicao_ensino_superior_CO_IES`)
    REFERENCES `mydb`.`instituicao_ensino_superior` (`CO_IES`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `mydb`.`atividade_extra_curricular`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mydb`.`atividade_extra_curricular` (
  `idatividade_extra_curricular` INT NOT NULL AUTO_INCREMENT,
  `IN_COMPLEMENTAR_ESTAGIO` INT(1) NULL,
  `IN_COMPLEMENTAR_EXTENSAO` INT(1) NULL,
  `IN_COMPLEMENTAR_MONITORIA` INT(1) NULL,
  `IN_COMPLEMENTAR_PESQUISA` INT(1) NULL,
  `IN_BOLSA_PESQUISA` INT(1) NULL,
  `IN_BOLSA_MONITORIA` INT(1) NULL,
  `IN_BOLSA_EXTENSAO` INT(1) NULL,
  PRIMARY KEY (`idatividade_extra_curricular`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `mydb`.`docente`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mydb`.`docente` (
  `iddocente` INT NOT NULL AUTO_INCREMENT,
  `ID_DOCENTE` VARCHAR(32) NOT NULL,
  `TP_SITUACAO` INT(1) NOT NULL,
  `TP_ESCOLARIDADE` INT(1) NULL,
  `TP_REGIME_TRABALHO` INT(1) NULL,
  `TP_SEXO` INT(1) NULL,
  `NU_ANO_NASCIMENTO` INT(4) NULL,
  `NU_MES_NASCIMENTO` INT(2) NULL,
  `NU_DIA_NASCIMENTO` INT(2) NULL,
  `NU_IDADE` INT(3) NULL,
  `TP_COR_RACA` INT(1) NULL,
  `CO_PAIS_ORIGEM` INT(8) NULL,
  `TP_NACIONALIDADE` INT(1) NULL,
  PRIMARY KEY (`iddocente`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `mydb`.`atividade_extra_curricular_has_aluno`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mydb`.`atividade_extra_curricular_has_aluno` (
  `atividade_extra_curricular_idatividade_extra_curricular` INT NOT NULL,
  `aluno_idaluno` INT NOT NULL,
  PRIMARY KEY (`atividade_extra_curricular_idatividade_extra_curricular`, `aluno_idaluno`),
  INDEX `fk_atividade_extra_curricular_has_aluno_aluno1_idx` (`aluno_idaluno` ASC) VISIBLE,
  INDEX `fk_atividade_extra_curricular_has_aluno_atividade_extra_cur_idx` (`atividade_extra_curricular_idatividade_extra_curricular` ASC) VISIBLE,
  CONSTRAINT `fk_atividade_extra_curricular_has_aluno_atividade_extra_curri1`
    FOREIGN KEY (`atividade_extra_curricular_idatividade_extra_curricular`)
    REFERENCES `mydb`.`atividade_extra_curricular` (`idatividade_extra_curricular`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_atividade_extra_curricular_has_aluno_aluno1`
    FOREIGN KEY (`aluno_idaluno`)
    REFERENCES `mydb`.`aluno` (`idaluno`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `mydb`.`docente_has_instituicao_ensino_superior`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mydb`.`docente_has_instituicao_ensino_superior` (
  `docente_iddocente` INT NOT NULL,
  `instituicao_ensino_superior_CO_IES` INT(8) NOT NULL,
  PRIMARY KEY (`docente_iddocente`, `instituicao_ensino_superior_CO_IES`),
  INDEX `fk_docente_has_instituicao_ensino_superior_instituicao_ensi_idx` (`instituicao_ensino_superior_CO_IES` ASC) VISIBLE,
  INDEX `fk_docente_has_instituicao_ensino_superior_docente1_idx` (`docente_iddocente` ASC) VISIBLE,
  CONSTRAINT `fk_docente_has_instituicao_ensino_superior_docente1`
    FOREIGN KEY (`docente_iddocente`)
    REFERENCES `mydb`.`docente` (`iddocente`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_docente_has_instituicao_ensino_superior_instituicao_ensino1`
    FOREIGN KEY (`instituicao_ensino_superior_CO_IES`)
    REFERENCES `mydb`.`instituicao_ensino_superior` (`CO_IES`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `mydb`.`aluno_has_curso`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mydb`.`aluno_has_curso` (
  `aluno_idaluno` INT NOT NULL,
  `curso_CO_CURSO` INT(8) NOT NULL,
  `curso_instituicao_ensino_superior_CO_IES` INT(8) NOT NULL,
  PRIMARY KEY (`aluno_idaluno`, `curso_CO_CURSO`, `curso_instituicao_ensino_superior_CO_IES`),
  INDEX `fk_aluno_has_curso_curso1_idx` (`curso_CO_CURSO` ASC, `curso_instituicao_ensino_superior_CO_IES` ASC) VISIBLE,
  INDEX `fk_aluno_has_curso_aluno1_idx` (`aluno_idaluno` ASC) VISIBLE,
  CONSTRAINT `fk_aluno_has_curso_aluno1`
    FOREIGN KEY (`aluno_idaluno`)
    REFERENCES `mydb`.`aluno` (`idaluno`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_aluno_has_curso_curso1`
    FOREIGN KEY (`curso_CO_CURSO` , `curso_instituicao_ensino_superior_CO_IES`)
    REFERENCES `mydb`.`curso` (`CO_CURSO` , `instituicao_ensino_superior_CO_IES`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;

USE `mydb` ;

-- -----------------------------------------------------
-- Placeholder table for view `mydb`.`alunos_ppi`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `mydb`.`alunos_ppi` (`idaluno` INT, `ID_ALUNO` INT, `CO_ALUNO_CURSO` INT, `TP_COR_RACA` INT, `TP_SEXO` INT, `NU_ANO_NASCIMENTO` INT, `NU_MES_NASCIMENTO` INT, `NU_DIA_NASCIMENTO` INT, `IN_DEFICIENCIA` INT, `IN_CONCLUINTE` INT, `TP_ESCOLA_CONCLUSAO_ENS_MEDIO` INT, `NU_ANO_INGRESSO` INT, `TP_NACIONALIDADE` INT, `CO_UF_NASCIMENTO` INT, `NU_IDADE` INT, `TP_SITUACAO` INT, `IN_INGRESSO_VESTIBULAR` INT, `IN_INGRESSO_ENEM` INT, `IN_INGRESSO_AVALIACAO_SERIADA` INT, `IN_APOIO_SOCIAL` INT, `TP_SEMESTRE_CONCLUSAO` INT, `TP_SEMESTRE_REFERENCIA` INT, `IN_MATRICULA` INT);

-- -----------------------------------------------------
-- View `mydb`.`alunos_ppi`
-- -----------------------------------------------------
DROP TABLE IF EXISTS `mydb`.`alunos_ppi`;
USE `mydb`;
CREATE  OR REPLACE VIEW alunos_ppi AS SELECT * FROM aluno WHERE TP_COR_RACA BETWEEN 2 AND 3;

SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;
```

## View
```sql
-- -----------------------------------------------------
-- View `mydb`.`alunos_ppi`
-- -----------------------------------------------------
DROP TABLE IF EXISTS `mydb`.`alunos_ppi`;
USE `mydb`;
CREATE  OR REPLACE VIEW alunos_ppi AS SELECT * FROM aluno WHERE TP_COR_RACA BETWEEN 2 AND 3;
```

## Procedure
<img src="imagens/procedure.png">

## Trigger
<img src="imagens/trigger.png">

## Consultas SQL
1. Quantidade de alunos PPI que ingressaram no curso superior pelo ENEM

```sql
SELECT COUNT(idaluno) FROM mydb.aluno WHERE TP_COR_RACA=2 OR TP_COR_RACA=3 OR TP_COR_RACA=5 AND IN_INGRESSO_ENEM=1;


67082
```

## Consultas SQL
2. Quantidade de alunos PPi de escola públicas que ingressaram pelo ENEM

```sql
SELECT COUNT(idaluno) FROM mydb.aluno WHERE TP_COR_RACA=2 OR TP_COR_RACA=3 OR TP_COR_RACA=5 AND IN_INGRESSO_ENEM=1 AND TP_ESCOLA_CONCLUSAO_ENS_MEDIO=1;

67074

```

## Consultas SQL
3. Quantidade de alunos PPI de escola públicas que ingressaram em medicina pelo ENEM

```sql
SELECT * FROM mydb.aluno INNER JOIN mydb.curso ON CO_CURSO=140 OR CO_CURSO=1135207 OR CO_CURSO=48854 OR CO_CURSO=1419799 OR CO_CURSO=58412 OR CO_CURSO=51835 WHERE TP_COR_RACA=2 OR TP_COR_RACA=3 OR TP_COR_RACA=5 AND IN_INGRESSO_ENEM=1 AND TP_ESCOLA_CONCLUSAO_ENS_MEDIO=1;
```

## Consultas SQL
4. Quantidade de professores estrangeiros com mais de 50 anos

```sql
SELECT COUNT(iddocente) FROM mydb.docente WHERE TP_NACIONALIDADE<>1 AND NU_IDADE>50;

169

```

## Consultas SQL
5. Quantidade de alunos de escola públicas que ingressaram pelo ENEM estão no último semestre

```sql
SELECT COUNT(idaluno) FROM mydb.aluno WHERE IN_INGRESSO_ENEM=1 AND TP_ESCOLA_CONCLUSAO_ENS_MEDIO=1 AND IN_CONCLUINTE=1;

2127

```