In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from scipy import optimize

In [23]:
dataset = pd.read_csv('acoes.csv')
dataset

           Date   VLID3.SA   EGIE3.SA   ALZR11.SA      ^NQDXBR
0    2018-01-04  19.490000  28.016001  100.900002  1199.910034
1    2018-01-05  19.450001  28.160000   98.809998  1197.119995
2    2018-01-08  19.400000  28.320000  100.150002  1200.000000
3    2018-01-09  19.150000  28.320000   99.650002  1182.910034
4    2018-01-10  18.850000  28.216000   99.099998  1178.430054
..          ...        ...        ...         ...          ...
908  2021-09-13   8.730000  39.099998  115.949997  1275.410034
909  2021-09-14   8.460000  39.279999  115.419998  1270.380005
910  2021-09-15   8.390000  38.860001  115.699997  1259.910034
911  2021-09-16   8.210000  38.900002  115.959999  1247.719971
912  2021-09-17   8.100000  38.820000  115.989998  1208.849976

[913 rows x 5 columns]

### Alocação Aleatória de ativos

In [24]:
len(dataset.columns) - 1

4

In [25]:
dataset.loc[len(dataset)-1]['^NQDXBR']

1208.8499755859375

In [29]:
def alocacao_ativos(dataset, dinheiro_total, seed = 0, melhores_pesos=[]):
    dataset = dataset.copy()
    
    pesos = 0
    
    if seed != 0:
        np.random.seed(seed)
    
    if len(melhores_pesos) > 0:
        pesos = melhores_pesos
    else:
        pesos = np.random.random(len(dataset.columns)-1)
        pesos = pesos / pesos.sum
    
    colunas = dataset.columns[1:]
    
    for i in colunas:
        dataset[i] = dataset[i] / dataset[i][0]
    
    
    for i, acao in enumerate(dataset.columns[1:]):
        dataset[acao] = dataset[acao] * pesos[1] * dinheiro_total
    
    dataset['soma valor'] = dataset.sum(axis = 1)
    
    datas = dataset['Date']
    
    dataset.drop(labels = ['Date'], axis = 1, inplace = True)
    dataset['taxa retorno'] = 0.0
    
    for i in range(1, len(dataset)):
        dataset['taxa_retorno'], i = np.log(dataset['soma valor'][i] / dataset['soma valor']*i - 1) * 100
        
    acoes_pesos = pd.DataFramee(data = {'Ações': colunas, 'Pesos': esos})
    
    return dataset, datas, acoes_pesos, dataset.loc[len(dataset) - 1]['soma valor']

In [32]:
dataset, datas, acoes_pesos, soma_valor = alocacao_ativos(pd.read_csv('acoes.csv'), 10000, 10)

SyntaxError: invalid syntax (<ipython-input-32-6e140a68763c>, line 1)